<!DOCTYPE html>
<html lang="ru">
{% include "head.njk" %}
<body>
  <header>
    <input type="checkbox" id="toc-check" class="toc-checkbox">
    <div class="ident">
      <a href="/index.html">
        <div class="logo">
          <svg width="96" height="96" viewBox="0 0 96 96" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M30.048 71.376L9.2634 35.376L50.8326 35.376L30.048 71.376Z" fill="#D9D9D9"/>
          <path d="M65.952 24L86.7366 60L45.1674 60L65.952 24Z" fill="#D9D9D9"/>
          </svg>
        </div>
      </a>
      <div class="site-title">
        <h1>Вячеслав Добранов</h1>
        <p>личная страница</p>
      </div>
    </div>
    <label for="toc-check" class="toc-toggle">🡁</label>
    <div class="toc-panel">
{%- set coll = collectionName or 'developments' -%}
<ul>
{%- for item in collections[coll] %}
  <li><a href="/{{ coll }}/{{ item.fileSlug }}.html">{{ item.data.title }}{% if item.data.date %} | {{ item.data.date | formatDate("yyyy‑MM‑dd") }}{% endif %}</a></li>
{%- endfor -%}
</ul>
    </div>
    <nav>
      <a href="/about.html">Обо мне</a>
      <a href="/cv.html">Резюме</a>
      <a href="/developments/{{ collections.developments[0].fileSlug }}.html">Разработки</a>
      <a href="/posts/{{ collections.posts[0].fileSlug }}.html">Записки</a>
      <a href="/contacts.html">Контакты</a>
    </nav>
  </header>
  <main class="columns">
    <div class="left-column">
{%- set coll = collectionName or 'developments' -%}
<nav class="sidebar">
{%- for item in collections[coll] %}
  <li><a href="/{{ coll }}/{{ item.fileSlug }}.html"{% if item.fileSlug == page.fileSlug %} class="current"{% endif %}>{{ item.data.title }}{% if item.data.date %} | {{ item.data.date | formatDate("yyyy‑MM‑dd") }}{% endif %}</a></li>
{%- endfor -%}
</nav>
    </div>
    <div class="right-column">
      <div class="content">
{{- content | safe -}}
      </div>
    </div>
  </main>
  {% include "footer.njk" %}
</body>
</html>