<!DOCTYPE html>
<html lang="ru">
{% include "head.njk" %}
<body>
  {% include "header.njk" %}
  <main class="columns">
    <div class="left-column">
{%- set coll = collectionName or 'developments' -%}
<nav class="sidebar">
{%- for item in collections[coll] %}
  <li><a href="/{{ coll }}/{{ item.fileSlug }}.html"{% if item.fileSlug == page.fileSlug %} class="current"{% endif %}>{{ item.data.title }}{% if item.data.date %} | {{ item.data.date | formatDate("yyyy‑MM‑dd") }}{% endif %}</a></li>
{%- endfor -%}
</nav>
    </div>
    <div class="right-column">
      <div class="content">
{{- content | safe -}}
      </div>
    </div>
  </main>
  {% include "footer.njk" %}
</body>
</html>