<!DOCTYPE html>
<html lang="ru">
{% include "head.njk" %}
<body>
  {% include "header.njk" %}
  <main class="{{ main_class | default('columns') }}">
    {{ content | safe }}
  </main>
  {% include "footer.njk" %}
</body>
</html>