---
layout: layout.njk
title: Обо мне
eleventyExcludeFromCollections: true
permalink: /about.html
---

<div class="left-column">
  <!-- <nav class="sidebar">
	<li><a href="#intro">Введение</a></li>
	<li><a href="#career">Карьера</a></li>
	<li><a href="#skills">Навыки</a></li>
	<li><a href="#interests">Интересы</a></li>
  </nav> -->
  <img src="img/photo.png" alt="">
</div>
<!-- <div class="divider"></div> -->
<div class="right-column">
  <div class="content" id="intro">
	<p>Добранов Вячеслав Юрьевич.<br>В прошлом — инженер-проектировщик ПГС с 14-летним стажем.<br>Последние 6 лет занимаюсь исключительно вопросами автоматизации процессов проектирования.</p>
	<p>Знаю всё о Tekla Structures.<br>Знаю очень многое об IFC, BIM и интероперабельности.</p>
	<p>За свою карьеру:</p>
	<ul>
	  <li>Внедрил около 100 разработок разной степени влияния на процесс проектирования;</li>
	  <li>Сэкономил тысячи человеко-часов и десятки миллионов рублей для строительной дисциплины;</li>
	  <li>В качестве инженера-конструктора проектировал крупные промышленные объекты:
		<ul>
		  <li>ЗапСиб-2</li>
		  <li>Омский НПЗ</li>
		  <li>Амурский ГХК</li>
		  <li>Амурский ГПЗ</li>
		  <li>АрктикСПГ</li>
		  <li>БалтикСПГ</li>
		  <li>и другие</li>
		</ul>
	  </li>
	</ul>
	<p>Нравится программирование, графический дизайн, типографика, 3D‑моделирование.<br>Я из тех счастливчиков, что занимаются любимым делом, а им за это ещё и платят.</p>
  </div>
</div>